#jcheck-error-dialog { background: #833; border: 2px solid #000; border-top: 0; width: 500px; color: #fff; }
#jcheck-error-dialog ul { margin: 10px; list-style: none; padding: 0;}
#jcheck-error-dialog li { margin: 0; padding: 0;}